body {
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

/* header */

header{
  background-color: blueviolet;
}

header .inner {
  width: 1200px;
  margin: 0 auto;
  background-color: cornflowerblue;
}

header .logo {
  width: 120px;
  display: block;
}